[submodule "duo_unix"]
	path = duo_unix
	url = https://github.com/zachfi/duo_unix.git
[submodule "gomplate-bin"]
	path = gomplate-bin
	url = https://aur.archlinux.org/gomplate-bin.git
[submodule "k3s-bin"]
	path = k3s-bin
	url = https://aur.archlinux.org/k3s-bin.git
[submodule "nvidia-container-runtime"]
	path = nvidia-container-runtime
	url = https://aur.archlinux.org/nvidia-container-runtime.git
[submodule "libnvidia-container"]
	path = libnvidia-container
	url = https://aur.archlinux.org/libnvidia-container.git
[submodule "nodemanager-bin"]
	path = nodemanager-bin
	url = https://github.com/zachfi/nodemanager-bin.git
