[submodule "duo_unix"]
	path = duo_unix
	url = https://aur.archlinux.org/duo_unix.git
[submodule "gomplate-bin"]
	path = gomplate-bin
	url = https://aur.archlinux.org/gomplate-bin.git
[submodule "k3s-bin"]
	path = k3s-bin
	url = https://aur.archlinux.org/k3s-bin.git
[submodule "nodemanager-bin"]
	path = nodemanager-bin
	url = https://github.com/zachfi/nodemanager-bin.git
[submodule "zen-browser-avx2-bin"]
	path = zen-browser-avx2-bin
	url = https://aur.archlinux.org/zen-browser-avx2-bin.git
[submodule "openbgpd"]
	path = openbgpd
	url = https://aur.archlinux.org/openbgpd.git
[submodule "dsearch-bin"]
	path = dsearch-bin
	url = https://aur.archlinux.org/dsearch-bin.git
[submodule "greetd-dms-greeter-git"]
	path = greetd-dms-greeter-git
	url = https://aur.archlinux.org/greetd-dms-greeter-git.git
[submodule "scenefx0.4"]
	path = scenefx0.4
	url = https://aur.archlinux.org/scenefx0.4.git
[submodule "mangowm"]
	path = mangowm
	url = https://aur.archlinux.org/mangowm.git
[submodule "polychromatic"]
	path = polychromatic
	url = https://aur.archlinux.org/polychromatic.git
[submodule "ktls-utils"]
	path = ktls-utils
	url = https://aur.archlinux.org/ktls-utils.git
